spring:
  datasource:
    url: jdbc:h2:mem:mall;DB_CLOSE_DELAY=-1;MODE=MySQL
    driverClassName: org.h2.Driver
    username: sa
    password: sa
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true

app:
  jwt-secret: change-me

---
spring:
  config:
    activate:
      on-profile: mysql
  datasource:
    url: jdbc:mysql://db:3306/mall?useSSL=false&serverTimezone=UTC
    driverClassName: com.mysql.cj.jdbc.Driver
    username: root
    password: admin
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
